extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') WikiWalk
        .nav-collapse.collapse
          ul.nav
            li.active: a(href='#') Home
            li: a(href='#') About
