extends layout

block content
  .navbar.navbar-inverse
    .navbar-inner
      .container
        a.btn.btn-navbar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') WikiWalk 
          img(src='/images/logo.png', width='20')
        .nav-collapse.collapse
          ul.nav
            li.active: a(href='#') Home
            li: a(href='#') About
    
  .container-fluid
    .modal.fade
      .modal-header
        button.close(type='button', data-dismiss="modal") &times;
        h3 Enter Paramaters for WikiWalk
      .modal-body
        form
          fieldset
            label(for='url') Wikipedia Link
            input#url.input-xlarge(type='text', placeholder='Enter Wikipedia URL')