extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') WikiWalk
        .nav-collapse.collapse
          ul.nav
            li.active: a(href='#') Home
            li: a(href='#') About
  #graph

  .container-fluid
    .modal.fade.hide
      .modal-header
        button.close(type='button', data-dismiss="modal") &times;
        h3 Enter Paramaters for WikiWalk
      .modal-body
        form
          fieldset
            label(for='url') Wikipedia Link
            input#url.input-xlarge(type='text', placeholder='Enter Wikipedia URL')
            label(for='depth') Depth
            select#depth
              option(selected, value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
              option(value='6') 6
            label(for='links') Links to Pull
            select#links
              option(selected, value='10') 10
              option(value='20') 20
              option(value='30') 30
              option(value='40') 40
      .modal-footer
        button.cancel.btn(type='button') Cancel
        button.continue.btn.btn-primary(type='button') Continue
