extends layout

block content
  .navbar.navbar-inverse
    .navbar-inner
      .container
        a.btn.btn-navbar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') WikiWalk 
          img(src='/img/logo.png', width='20')         
        .nav-collapse.collapse
          ul.nav
            li.active: a(href='#') Home
            li: a(onclick='alert("Click start to begin. Enter your desired search parameters and click Continue. Once the loading icon goes away, some nodes will appear. Click them to collapse/uncollapse them.")') Help
          form.navbar-form.pull-right
            button.start.btn(type='button') Start

  .loading(style='display:none;')
    img(src='/img/loading.gif')

  .hero-unit
    img.pull-left(src='/img/logo.png')
    h1.pull-right Welcome to WikiWalk
    .clearfix
    p Have you ever wondered how Wikipedia articles are linked? Well now you can graphically view it! Using WikiWalk, you can specify a Wikipedia article, and our application will generate a tree of all the linked articles, and all of their linked articles, and all of their linked articles....you get the point.
    p Click on the Start button above to get started!

  .container-fluid
    .modal.fade.hide
      .modal-header
        button.close(type='button', data-dismiss="modal") &times;
        h3 Enter Paramaters for WikiWalk
      .modal-body
        form
          fieldset
            label(for='url') Wikipedia Link
            input#url.input-xlarge(type='text', placeholder='Enter Wikipedia URL')
            label(for='depth') Max Depth
            select#depth
              option(selected, value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
              option(value='6') 6
            label(for='links') Max Links Per Page
            select#links
              option(selected, value='10') 10
              option(value='20') 20
              option(value='30') 30
              option(value='40') 40
        p Press Continue to start your WikiWalk!
      .modal-footer
        button.cancel.btn(type='button',data-dismiss='modal', aria-hidden='true') Cancel
        button.continue.btn.btn-primary(type='button') Continue
